.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.owner_cnt{
    width: 100vw;
    height: 500px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
   
}